/*Universal Styles*/

html {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

h1{
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3;
}

h2{
  font-size: 2rem;
  font-weight: bold;
}

h4{
  font-size: 1.25rem;
  font-weight: bold;

}

.light-back{
  background-color: #eaf0de8c;
}

.dark-back{
  background-color: #d7d6d6;
}

.main-container{
  width: 100%;
  display: flex;
}

.main-content-container{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

.main-content{
  width: 100%;
}


.main-media-container{
  width: 60%;
  padding: 2rem 1.5rem;
  display: block;

}

.main-media-container img{
  max-width: 100%;
  margin: auto;
}

.main-media-container video{
  max-width: 100%;
  margin: auto;
}

.black{
  color: black;
}

.grey{
  color: #424242;
}

/*Header Styles*/

header{
  display: flex;
  width: 100%;
  height:4rem;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

nav{
  margin-right: 0.5rem;

}

nav li{
  display: inline-block;
  padding-right: 1rem;
}

.home-logo{
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.home-logo img{
  width: 2.5rem;
}

/*Banner Styles */

.main-title{
  padding-bottom: 1.5rem;
}

.content-description{
  padding-bottom: 1.5rem;
}

.button{
  background-color: #424242;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  margin-top: 0.625rem;
  text-align: center;
  color: white;
  font-size: 1.125rem;
  width: 100%;
}

/* Info Styles */

.info h2{
  padding: 2rem 0 1.5rem 0;
}

.info p{
  padding-top: 2rem;
}

.content{
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.content img{
  width:35%;
  margin: auto;
}

.content a{
  color: blue;
}

.desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:65%;
  margin-left: 1rem;
}

.desc p{
  padding-bottom: 1rem;
}

.info .main-content-container{
  border-left: 1px solid #d7d6d6;
}

/*Course Section Styles*/

.courses-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 2rem;
}

.course h4{
  padding-bottom: 1rem;
}

.course img{
  height: auto;
  width: 100%;
}

.course{
width: 25%;
 background-color: white;
 margin: 1rem;
}

.courses h1,{
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.course .desc{
  padding: 1rem 0 0 1rem;
}

/*Thesis section styles*/


/*footer*/

footer{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 2rem 1.5rem;
  border-top: 1px solid #d7d6d6;;
}

.terms ul{
  display: flex;
}

.terms li{
  padding-right: 1.5rem;
}
