/*Universal Styles*/

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-container{
  width: 100%;
}

.main-media-container{
  width: 60%;
  padding: 32px 24px;
}

.main-media-container img{
  max-width: 100%;
  margin: auto;
}

.black{
  color: black;
}

.grey{
  color: grey;
}

/*Header Styles*/

header{
  display: flex;
  width: 100%;
  height:64px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

nav{
  margin-right: 8px;

}

nav li{
  display: inline-block;
  padding-right: 16px;
}

.home-logo{
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-size: 24px;
  font-weight: bold;
}

.home-logo img{
  width: 40px;
}

/*Banner Styles */

.main-container.banner{
  background-color: lightgrey;
}
