/*Universal Styles*/

html {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

h1{
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3;
}

h2{
  font-size: 2rem;
  font-weight: bold;
}

h4{
  font-size: 1.25rem;
  font-weight: bold;

}

.light-back{
  background-color: #eaf0de8c;
}

.dark-back{
  background-color: #d7d6d6;
}

.main-container{
  width: 100%;
  display: flex;

}

.main-content{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.main-content-container{
  width: 40%;
  display: flex;
  flex-direction: column;
}

.main-media-container{
  width: 60%;
  padding: 2rem 1.5rem;
  display: block;

}

.main-media-container img{
  max-width: 100%;
  margin: auto;
}

.main-media-container video{
  max-width: 100%;
  margin: auto;
}

.black{
  color: black;
}

.grey{
  color: #424242;
}

/*Header Styles*/

header{
  display: flex;
  width: 100%;
  height:4rem;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

nav{
  margin-right: 0.5rem;
}

nav li{
  display: inline-block;
  padding-right: 1rem;
}

nav a{
  transition: all .5s linear,border 0.1s linear,font-size 0.3s ease-in;
}

nav a:hover{
  background-color: #eaf0de8c;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  font-size: 1.25rem;
}

.home-logo{
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.home-logo img{
  width: 2.5rem;
}

header .mobile{
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: flex;
    width: 100%;
    justify-content:flex-end;
  }

   .mobile ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }

  .home-logo span{
    display: none;
  }

  .banner .main-content{
    width: 100%;
  }
}


/*Banner Styles */

.main-title{
  padding-bottom: 1.5rem;
}

.content-description{
  padding-bottom: 1.5rem;
}

.button{
  background-color: #424242;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  margin-top: 0.625rem;
  text-align: center;
  font-size: 1.125rem;

  transition: background-color 0.5s linear;
}
.button a{
  color:white;
}

.button:hover{
  background-color: #FE3636;
}


@media only screen and (max-width:760px){
  .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-content-container{
    width: 100%;
    padding:0 0 2rem 1.5rem;
  }

  .main-media-container{
    width: 100%;
    padding:0 0 2rem 0;
  }

  .main-container{
    width: 100%;
  }
}

/* Info Styles */

.info h2{
  padding: 2rem 0 1.5rem 0;
}

.info p{
  padding-top: 2rem;
}

.content{
  display: flex;
  align-items: center;
  padding: 1rem;
  max-width: 100%;
}

.content img{
  width:35%;
  margin: 0;
  padding: 0;
}

.content a{
  color: blue;
}
.content a:hover{
  color: darkblue;
}

.desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:65%;
  padding-left: 1rem;
}

.desc p{
  padding-bottom: 1rem;
}

.info .main-content-container{
  border-left: 1px solid #d7d6d6;
}

@media only screen and (max-width:760px){
  .info.main-media-container{
    display: none;
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #eaf0de8c;
  }

  .content img{
    width: auto;
    margin: 0;
    padding-bottom: 2rem;

  }

  .content .desc{
    display: block;
  }
}

/*Course Section Styles*/

.courses-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 2rem;
}

.course h4{
  padding-bottom: 1rem;
}

.course img{
  height: auto;
  width: 100%;
}

.course{
 width: 25%;
 background-color: white;
 margin: 1rem;
 transition: all 0.5s ease-out 0.25s;
}

.course:hover{
  background-color: #FE3636;
  text-decoration: underline;
}


.courses h1{
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.course .desc{
  padding: 1rem 0 0 1rem;
}


@media only screen and (max-width:760px){
  .course img,.course .desc p{
    display: none;
  }

  .courses-container{
    display: flex;
    background-color: #eaf0de8c;
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .course{
    width: 100%;
    background-color:  #d7d6d6;
    margin-right: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .course .desc{
    padding: 0;
  }

  .course h4{
    padding: 0;
  }

  .courses{
    background-color: #eaf0de8c;
    text-align: center;
    padding: 0 0 1rem 0;
  }
}

/*Thesis section styles*/
.thesis-title{
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

.thesis{
  display: flex;
  align-items: flex-start;
  padding: 0;
}


@media only screen and (max-width:760px){
  .thesis .main-media-container{
    display: block;
  }

  .thesis .main-content-container{
    display: none;
  }

  .thesis .main-title{
    display: none;
  }

  .thesis{
    padding-bottom: 1.5rem;
  }
}

/*footer*/

footer{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 2rem 1.5rem;
  border-top: 1px solid #d7d6d6;;
}

.terms ul{
  display: flex;
}

.terms li{
  padding-right: 1.5rem;
}
